*
    padding: 0
    margin: 0

body
    background-color: #fdfdfd
    font-family: "Seaweed Script"

    #section-title
        font-size: 45px !important
        text-align: center

    // NAVIGATION BAR
    .nav-menu
        .nav-menu-container
            padding: 30px 0 10px 0
            background-color: transparent
            text-align: center

            .col-md-12
                .col-md-2
                    margin: 0
                    padding: 0

                .col-md-4
                    margin: 0
                    padding: 0



            li
                display: inline-block
                margin: 15px 0 0 0


                a
                    color: #000000
                    font-family: "Seaweed Script"
                    font-size: 30px

                    &:hover
                        text-decoration: none

            #tb-logo-menu-item
                margin: -10px 0 0 0
                a
                    display: block
                    font-size: 55px !important
                    line-height: 35px !important
                    text-align: right

                    img
                        width: 55px
                        position: relative
                        top: -10px
                        left: 15px

                #beats-logo
                        margin-right: 20px !important

    // TITLE SECTION
    .title-section
        background: url(../img/carousel-background-imgs/landscape-1.jpg)
        background-repeat: no-repeat
        background-size: cover
        display: block
        margin: 0 auto
        height: 510px

        .main-title-container
            margin: 190px 0px 0px 0px

            #title, #subtitle
                text-align: center
                color: #ffffff
                text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.6)

            #title
                font-size: 65px

            #subtitle
                font-size: 30px
                letter-spacing: 3px
                line-height: 23px

        #arrow-left, #arrow-right
            margin-top: -65px
            color: #ffffff
            font-size: 35px
            cursor: pointer
            
                

        .indicators
            margin: 0 auto
            margin-top: 170px
            font-size: 18px

            #slide-indicator-0, #slide-indicator-1, #slide-indicator-2
                color: #ffffff
                transform: scale(0.7, 0.7)

            #slide-indicator-1, #slide-indicator-2
                opacity: 0.5

        #arrow-left
            float: left

        #arrow-right
            position: relative
            float: right


    // RELEASES SECTION
    .releases-section
        display: block
        padding: 20px 0 0 0

        .carousel-title-container
            padding: 30px 0 0 0

            #carousel-title
                font-size: 30px

        .see-more-container
            padding: 40px 0 0 0

            #see-more-button
                float: right

                a
                    color: #000000
                    font-family: "Roboto"
                    font-weight: bolder
                    font-size: 18px

                    &:hover
                        text-decoration: none

        .release-carousel
            .release-album-container
                transition: all 0.6s

                &:hover
                    transform: scale(1.05, 1.05)
                    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7)

    // SHOP SECTION
    .shop-section
        display: block
        padding: 40px 0 40px 0

        .shop-carousel
            .shop-item
                display: inline-block

                img
                    width: 217px
                    height: 217px
                    margin: 2px
                    padding: 30px
                    background-color: rgba(0, 0, 0, 0.5)

    // ABOUT SECTION

    .about-section
        display: block
        padding: 40px 0 40px 0

        .about-description
            #description-text
                font-size: 25px
                text-align: justify
                padding: 0 10px

        .learn-more-container
            background-color: #fdfdfd
            text-align: center
            border-top-left-radius: 90%
            border-top-right-radius: 90%
            box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.5)
            margin: 0 auto
            margin-top: -85px
            display: block
            padding: 0 0 30px 0

            a
                display: block
                text-align: center !important
                font-family: "Roboto"
                color: #000000
                font-weight: bolder

                &:hover
                    text-decoration: none

    // FOOTER SECTION
    .footer-section
        padding: 70px 0 10px 0

        .copy-right-designed-by-container
            p
                font-family: "Roboto" !important
                line-height: 2px
                font-size: 16px

                a
                    color: #000000
                    font-family: "Seaweed Script" !important
                    font-size: 25px

                    &:hover
                        text-decoration: none

        .social-media-container
            display: block

            a
                color: #000000

                i
                    position: relative
                    float: right
                    margin: 0 10px 0 10px
                    font-size: 35px
