* {
  padding: 0;
  margin: 0; }

body {
  background-color: #fdfdfd;
  font-family: "Seaweed Script"; }
  body #section-title {
    font-size: 45px !important;
    text-align: center; }
  body .nav-menu {
    padding: 30px 0 10px 0;
    background-color: transparent; }
    body .nav-menu ul {
      display: block;
      text-align: center; }
      body .nav-menu ul li {
        display: inline-block;
        margin: 0 30px 0 30px; }
        body .nav-menu ul li a {
          color: #000000;
          font-family: "Seaweed Script";
          font-size: 30px; }
          body .nav-menu ul li a:hover {
            text-decoration: none; }
      body .nav-menu ul #tb-logo-menu-item a {
        display: block;
        font-size: 55px !important;
        line-height: 35px !important;
        text-align: right; }
        body .nav-menu ul #tb-logo-menu-item a img {
          width: 55px;
          position: relative;
          top: -10px;
          left: 15px; }
      body .nav-menu ul #tb-logo-menu-item #beats-logo {
        margin-right: 20px !important; }
  body .contact-section {
    margin: 50px 0 0 0;
    text-align: center; }
    body .contact-section .contact-header {
      margin: 0 0 40px 0; }
      body .contact-section .contact-header h4 {
        line-height: 1px; }
    body .contact-section .form-container {
      margin: 65px 250px 0 250px;
      display: block;
      border: 1px solid #000000;
      border-radius: 1%;
      padding: 20px 50px 20px 50px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); }
      body .contact-section .form-container input, body .contact-section .form-container textarea, body .contact-section .form-container span {
        padding: 20px 15px 10px 15px;
        width: 100%;
        border-bottom-color: #000000;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: "Roboto";
        color: #000000; }
        body .contact-section .form-container input::placeholder, body .contact-section .form-container textarea::placeholder, body .contact-section .form-container span::placeholder {
          color: #000000;
          text-align: center;
          font-size: 20px; }
        body .contact-section .form-container input:focus, body .contact-section .form-container textarea:focus, body .contact-section .form-container span:focus {
          outline: none; }
      body .contact-section .form-container .col-md-6 {
        margin: 0;
        padding: 0; }
      body .contact-section .form-container .col-md-12 {
        margin: 0;
        padding: 0; }
      body .contact-section .form-container textarea {
        border-bottom-width: 2px;
        resize: none; }
      body .contact-section .form-container .file-picker-container button {
        border: 2px solid #000000;
        background-color: transparent;
        font-family: "Roboto";
        font-weight: bolder;
        padding: 5px 15px 5px 15px;
        margin: 10px 0 10px 0px;
        transition: all 0.4s; }
        body .contact-section .form-container .file-picker-container button:focus {
          outline: none; }
        body .contact-section .form-container .file-picker-container button:hover {
          background-color: #000000;
          color: #ffffff; }
      body .contact-section .form-container .file-picker-container span {
        font-weight: bolder;
        margin: -10px; }
      body .contact-section .form-container #submit-btn {
        width: 100%;
        background-color: transparent;
        padding: 10px;
        font-family: "Roboto";
        color: #000000;
        font-weight: lighter;
        font-size: 30px;
        border-color: #000000;
        transition: all 0.4s; }
        body .contact-section .form-container #submit-btn:focus {
          outline: none; }
        body .contact-section .form-container #submit-btn:hover {
          background-color: #000000;
          color: #ffffff; }
  body .footer-section {
    padding: 70px 0 10px 0; }
    body .footer-section .copy-right-designed-by-container p {
      font-family: "Roboto" !important;
      line-height: 2px;
      font-size: 16px; }
      body .footer-section .copy-right-designed-by-container p a {
        color: #000000;
        font-family: "Seaweed Script" !important;
        font-size: 25px; }
        body .footer-section .copy-right-designed-by-container p a:hover {
          text-decoration: none; }
    body .footer-section .social-media-container {
      display: block; }
      body .footer-section .social-media-container a {
        color: #000000; }
        body .footer-section .social-media-container a i {
          position: relative;
          float: right;
          margin: 0 10px 0 10px;
          font-size: 35px; }

/*# sourceMappingURL=main.css.map */
